.video {
  width: 100%;
}

.buttonText {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.buttonText {
}

.container {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: green;
}
