.video {
  height: 100%;
}

.buttonText {
  position: absolute;
  z-index: 9;
  background-color: gold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: white;
  height: 100%;
  width: 100%;
}

.container {
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: green;
}

.video {
  position: absolute;

  height: 600px;

  z-index: 5;
}
