.video {
  height: 100%;
}

.buttonText {
  position: absolute;
  z-index: 1;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: white;
  height: 100%;
  width: 100%;
}

.container {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.video {
  position: absolute;
  z-index: 0;
}
