.video {
  height: 100%;
}

.buttonText {
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: white;
  height: 100%;
  width: 100%;
}

.container {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: green;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
