.video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.container {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: green;
  padding: 20px;
}
